<div class="container mt-2">
  <form [formGroup]="myForm" (ngSubmit)="save()">
    <h3>Seleccionar ubicación.</h3>
    <div class="row">
      <div class="col">
        <app-alert
          [text]="mostrarErrorServicio.provincia.error"
          *ngIf="mostrarErrorServicio.provincia.enabledError"
        ></app-alert>
        <div
          [ngClass]="{
            'is-valid': !inputIsValid('provincia'),
            'is-invalid': inputIsValid('provincia')
          }"
        >
          <label for="provincia" class="form-label">Provincia: </label>
          <select
            id="provincia"
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
            formControlName="provincia"
          >
            <option value="">----- Seleccionar Provincia -----</option>
            <option
              *ngFor="let provincia of mostrarProvincias"
              [value]="provincia.numero"
            >
              {{ provincia.nombre }}
            </option>
          </select>
        </div>
        <div class="invalid-feedback">Este campo es obligatorio.</div>
      </div>
      <div class="col">
        <app-alert
          [text]="mostrarErrorServicio.canton.error"
          *ngIf="mostrarErrorServicio.canton.enabledError"
        ></app-alert>
        <div
          [ngClass]="{
            'is-valid': !inputIsValid('canton'),
            'is-invalid': inputIsValid('canton')
          }"
        >
          <label for="canton" class="form-label">Cantón:</label>
          <select
            id="canton"
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
            formControlName="canton"
          >
            <option value="">----- Seleccionar Cantón -----</option>
            <option
              *ngFor="let canton of mostrarCantones"
              [value]="canton.numero"
            >
              {{ canton.nombre }}
            </option>
          </select>
        </div>
        <div class="invalid-feedback">Este campo es obligatorio.</div>
      </div>
      <div class="col">
        <div
          [ngClass]="{
            'is-valid': !inputIsValid('canton'),
            'is-invalid': inputIsValid('canton')
          }"
        >
          <label for="distrito" class="form-label">Distrito:</label>
          <select
            id="distrito"
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
            formControlName="distrito"
          >
            <option value="">----- Seleccionar Distrito -----</option>
            <option
              *ngFor="let distrito of mostrarDistritos"
              [value]="distrito.numero"
            >
              {{ distrito.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="invalid-feedback">Este campo es obligatorio.</div>
    </div>
    <button type="submit" class="btn btn-primary float-end">Enviar</button>
  </form>
</div>
